<html>
<head>
    <meta charset="UTF-8">
    <title>Custom Tests</title>
    <script src="https://static.ada.support/embed.bdcc65d5.min.js" integrity="sha384-xc4Zb1cJTdi32QwzlZ+MFOnyC5yM1kJSh0LCYFLiX27aOd4mW4mKFOlQw2ySnfHi" crossorigin="anonymous" charset="utf-8"
    ></script>
</head>
<style>
    /* NOTE: Hides the default button */
    .ada-chat-button {
        display: none !important;
    }
</style>
<body>
    <h1>Hello World</h1>
    <button class="my-button" onclick="toggleChat();">Open Chat</button> 
</body>
<script type="text/javascript">
    var acmeAdaBot = new AdaChaperone('david');

    function toggleChat() {
        acmeAdaBot.show();
    }
</script>
</html>