<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://static.dhariri.com/styles/2/all.css" />
        <!-- <link rel="stylesheet" href="/static/all.css" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>David Hariri{% block title %}{% endblock %}</title>
        <script src="https://use.typekit.net/crd8cli.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>