<div class="note">
    <div class="note__text">
        {{ note.html|safe }}
    </div>
    <div class="note__info">
        <time datetime="{{ note.created }}">{{ note.created|ago }}</time>{{ note.topics|topics|safe }}
        {% if note.location_friendly %}
             from <a href="http://maps.apple.com/?ll={{ note.location[0] }},{{ note.location[1] }}">{{ note.location_friendly }}</a>
        {% endif %}
        {% if not single %}
            <a href="/notes/{{ note.slug }}" class="right">Link</a>
        {% endif %}
    </div>
</div>