<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61519816-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-61519816-2');
    </script>
    <meta charset="UTF-8">
    {% if page.title != "Home" %}
    <title>David Hariri — {{ page.title }}</title>
    {% else %}
    <title>David Hariri</title>
    {% endif %}
    <meta property="og:site_name" content="David Hariri" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="https://dhariri.com/" />
    <meta property="og:image" content="{{ page.preview_picture.url() }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="page hidden">
        {% for section in page.sections %}
        <section class="grid">
            <div class="col col-2">{{ section.label }}</div>
            <div class="col col-4">
                {{ section.content | markdown }}
            </div>
        </section>
        {% endfor %}
    </div>
    <script src="/static/page.js"></script>
</body>
</html>