* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    @media screen and (min-width : 320px) and (max-width: 414px) {
        overflow: hidden;
        height: 100%;
    }
}

body {
    background: $color-bg;
    color: $color-text;
    font-size: $g * 2;
    padding: ($g * 9) 0;
    margin: 0;
    line-height: $g * 2;
    overflow-x: hidden;
    overflow-y: scroll;

    @media screen and (min-width : 320px) and (max-width: 414px) {
        position: absolute;
        padding: 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        -webkit-scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-y: repeat(100%);
    }
}