.grid {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
  max-width: 100%;
  grid-gap: 0.5em;
  justify-items: start;

  @media only screen and (max-width : 36em) {
    margin: 3em 0;
  }

  .col-2 {
    grid-column-start: 1;
    grid-column-end: 3;

    @media only screen and (max-width : 24em) {
      grid-column-start: 1;
      grid-column-end: 8;
      margin-bottom: 1em;
      // font-weight: 500;
    }
  }

  .col-4 {
    grid-column-start: 3;
    grid-column-end: 6;

    @media only screen and (max-width : 24em) {
      grid-column-start: 1;
      grid-column-end: 8;
    }
  }
}