.note {
    margin-bottom: $g * 8;

    &__text {
        p {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        img, video {
            width: 100%;
            display: block;
            margin: $g 0;
        }
    }

    &__info {
        margin-top: 7px;        
        font-size: 13px;
        color: $color-unimportant;
        width: 100%;

        a {
            color: inherit;
        }
    }
}