.note {
    min-height: 320px;
    padding: $g * 10 16px;
    max-width: $g * 60;
    margin: 0 auto;

    @media screen and (min-width : 320px) and (max-width: 414px) {
        -webkit-scroll-snap-coordinate: 0% 0%;
    }

    &__text {
        p {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        pre {
            overflow-x: scroll;
            background-color: #F6F6F8;
            padding: 16px 8px;
        }

        code {
            font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        }

        img, video {
            width: 100%;
            display: block;
            margin: $g 0;
        }
    }

    &__info {
        margin-top: 7px;        
        font-size: 13px;
        color: $color-unimportant;
        width: 100%;

        a {
            color: inherit;
        }
    }
}