.post {

    &__text {
        p {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__media {
        margin-top: 8px;
        height: 280px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;

        img, video {
            height: 100%;
            display:inline-block;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }  
        }
    }

    &__date {
        margin-top: 7px;        
        font-size: 13px;
        color: $color-unimportant;
    }
}