h1, h2, h3, h4, p {
    margin: 0;
}

p {
    font-size: 19px;
    line-height: 24px;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.right {
        float: right;
    }
}